/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-color {
  color: #a95e39;
}
.title {
  height: 100px;

  font-family: "Myriad Pro";
  text-transform: uppercase;
  padding-top: 2.1rem;
  padding-left: 1rem;
}
header {
  height: 90vh;
  background-color: #b7bcbe;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #898d8e;
}

li {
  float: left;
  padding-left: 1rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover,
.active {
  background-color: #333;
} */
